.inbox-list-header.flex-vertical-centered(ng-class="{ searching: $ctrl.searching }")
  inbox-list-group-toggle-selection
  inbox-refresh-button(refresh="$ctrl.refresh()", loading="$ctrl.loading")

  .inbox-list-header-actions
    .inbox-list-header-quick-filter.hidden-md
      esn-filter-input(placeholder="Search...", ng-if="$ctrl.searching || $ctrl.quickFilter", auto-focus-input="true", filter="$ctrl.quickFilter", on-change="$ctrl.setQuickFilter($filter)", on-blur="$ctrl.searching = false")
      button.btn.btn-link.btn-icon.waves-notransition(ng-if="!$ctrl.searching && !$ctrl.quickFilter", ng-click="$ctrl.searching = true", ng-class="{ active: $ctrl.quickFilter }", title="{{ 'Search' | translate }}")
        i.mdi.mdi-magnify
    inbox-filter-button.clickable(ng-if="$ctrl.filters.length > 0", filters="$ctrl.filters")
    inbox-list-sidebar-attachment-button.hidden-xs(ng-if="$ctrl.contextSupportsAttachments")
